<%= render 'layouts/header' %>

    <br>
    <br>
    <div class="container-sm w-auto">
        <div class="text-center mb-5">
            <h2>
                Hello
                <% if logged_in? %>
                    <%=  current_user.first_name %>
                        <% end %>
                            ! <br> Where would you like to go?
            </h2>
        </div>

        <div class="container-fluid mb-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="simple-head">
                            <%= render(ColumnNameComponent.new(text: "Airline")) %>
                            <%= render(ColumnNameComponent.new(text: "Place of departure")) %>             
                            <%= render(ColumnNameComponent.new(text: "Place of arrival ")) %>
                            <%= render(ColumnNameComponent.new(text: "Time of departure")) %>
                            <%= render(ColumnNameComponent.new(text: "Time of arrival")) %>
                            <%= render(ColumnNameComponent.new(text: "Tickets left")) %>
                            <%= render(ColumnNameComponent.new(text: "a")) %>

                        </tr>
                    </thead>
                    <tbody>

                        <% if @offers.length > 0 %>

                        <% @offers.each do |offer| %>

                            <tr>
                                <th scope="row">
                                    <%= offer.transporter_name %>
                                </th>
                                <td>
                                    <%= offer.start_location %>
                                </td>
                                <td>
                                    <%= offer.end_location %>
                                </td>
                                <td>
                                    <%= offer.start_time.strftime("%m/%d/%Y %H:%M") %>
                                </td>
                                <td>
                                    <%= offer.end_time.strftime("%m/%d/%Y %H:%M") %>
                                </td>
                                <td class="text-center">
                                    <%= offer.number_of_seats %>
                                </td>


                                <td class="text-center">
                                    <a href="<% if !logged_in? %> 
                                                /login
                                                <% else %> 
                                                /ticket/<%= offer.id %> 
                                                <% end %>
                                        ">

                                        <button class="btn btn-sm btn-primary ">Buy a ticket
                                        </button>
                                    </a>
                                </td>
                            </tr>

                            <% end %>


                        <% else %>

                            <div class="h4 mb-3">
                                None of the tickets are curently available.
                            </div>

                            
                        <% end %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%= render 'layouts/footer' %>