<%= render 'layouts/header' %>

    <br>
    <br>
    <div class="container-sm w-auto">
        <div class="text-center mb-5">
            <h2>
                Hello
                <% if logged_in? %>
                    <%=  current_user.first_name %>
                        <% end %>
                            ! <br> Where would you like to go?
            </h2>
        </div>

        <div class="container-fluid mb-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="simple-head">
                            <th width="19">
                                <div class="bg-white h-100 w-100"> </div>
                            </th>
                            <th width="19%">
                                <div class="d-flex justify-content-between align-items-center mb-2"> <span class="d-block text-custom-truncate ml-1">Mjesto polaska</span> </div>
                            </th>
                            <th width="19%">
                                <div class="d-flex justify-content-between align-items-center mb-2"> <span class="d-block text-custom-truncate ml-1">Mjesto dolaska</span> </div>

                            </th>
                            <th width="19%">
                                <div class="d-flex justify-content-between align-items-center mb-2"> <span class="d-block text-custom-truncate ml-1">Vrijeme polaska</span> </div>

                            </th>
                            <th width="19%">
                                <div class="d-flex justify-content-between align-items-center mb-2"> <span class="d-block text-custom-truncate ml-1">Vrijeme dolaska</span> </div>

                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <% @offers.each do |offer| %>

                            <tr>
                                <th scope="row">
                                    <%= offer.transporter_name %>
                                </th>
                                <td>
                                    <%= offer.start_location %>
                                </td>
                                <td>
                                    <%= offer.end_location %>
                                </td>
                                <td>
                                    <%= offer.start_time.strftime("%m/%d/%Y %H:%M") %>
                                </td>
                                <td>
                                    <%= offer.end_time.strftime("%m/%d/%Y %H:%M") %>
                                </td>
                                <td class="text-center">
                                    <a href="<% if !logged_in? %> 
                                                /login
                                                <% else %> 
                                                /ticket/<%= offer.id %> 
                                                <% end %>
                                        ">

                                        <button class="btn btn-sm btn-primary ">Buy a ticket
                                        </button>
                                    </a>
                                </td>
                            </tr>

                            <% end %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%= render 'layouts/footer' %>